<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.myhelper"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/CustomStyle">
        
        <receiver
            android:name="com.demo.affair.Affair_Note_Alarm"
            android:process=":remote"
            ></receiver>
        <receiver 
            android:name="com.demo.affair.DemoCall"
            android:process=":remote"
            >
            
        </receiver>
        
        <activity
            android:name="com.demo.myhelper.MyHelper_Welcome"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name="com.demo.affair.Demo"
            ></activity>
        
        <activity
            android:theme="@style/AppTheme"
            android:name="com.demo.myhelper.MyHelper_MainActivity"           
            ></activity>
        
        <activity
            android:name="com.demo.affair.AffairMain"
            ></activity>
        
         <activity
            android:name="com.demo.affair.Affair_Note_Add"          
            ></activity>
         
         <activity 
             android:name="com.demo.affair.Affair_Note_List"
             ></activity>
         
         <activity 
             android:name="com.demo.affair.Affair_Note_Recall"
			 android:theme="@style/DeskDialog"
             ></activity>
         
         <activity
            android:name="com.demo.affair.Affair_Diary"
            ></activity>
         
         <activity 
             android:name="com.demo.affair.Affair_Diary_Add"
             ></activity>
         
         <activity 
             android:name="com.demo.affair.Affair_Account_Add"
             ></activity>
         
         <activity 
             android:name="com.demo.affair.Affair_Account_Analyse"
             ></activity>
         
         <activity
             android:name="com.demo.affair.Affair_Account_Scanf"
             ></activity>
         
         <activity
             android:name="com.demo.affair.Affair_Account"
             ></activity>
         
         <activity 
             android:name="com.demo.affair.Affair_Account_Amonth"
             ></activity>
         
         <activity 
             android:name="com.demo.affair.Affair_Birthday"
             ></activity>
         
         <activity 
             android:name="com.demo.affair.Affair_Festival"
             ></activity>
         
         <activity 
             android:name="com.demo.affair.Affair_Mode"
             ></activity>
        
         <activity 
             android:name="com.demo.affair.Affair_Flashlight"
             ></activity>
         
         <activity
            android:name="com.demo.health.HealthMain"            
            ></activity>
         
          <activity
            android:name="com.demo.health.Health_Step"
             ></activity>
        
         <activity
            android:name="com.demo.myhelper.MyHelper_Setting"
            ></activity>
         <activity
             android:name="com.demo.health.Health_Weather"
             ></activity>
         
        
        
         <activity 
            android:name="com.demo.tools.Utools"
            ></activity>
                  
    </application>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
</manifest>



















